.title {
  font-weight: 600;
  padding: 10px 0px;
}

.cashflowsContainer {
  padding-bottom: 30px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.formLabel {
  font-weight: normal;
}

.tableHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
