.container {
  padding: 20px 40px;
}

.propertyInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.pageTitle {
  font-size: 24px;
  font-weight: 600px;
}

.subtitleElem {
  margin-left: 10px;
  color: #6E7777;
}

.tabsContainer {
  padding-top: 25px;
}

.tab {
  color: inherit;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}

.formLabel {
  font-weight: normal;
}
