.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%
}

.header {
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.rightIcon {
  width: 20px;
  height: 20px;
}

.buttons {
  padding: 20px 10px;
}

.bottomButtons {
  padding: 0px 10px;
  padding-bottom: 70px;
}
