.container {
  padding: 40px;
}

.title {
  font-size: 36px;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.subtitleElem {
  margin-right: 20px;
}

.actionButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.spacer {
  width: 15px;
}

.expenseTitle {
  font-weight: 600;
}
