.container {
  padding: 20px 40px;
}

.title {
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.propertyInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.pageTitle {
  font-size: 24px;
  font-weight: 600px;
}

.subtitleElem {
  margin-left: 10px;
  color: #6E7777;
}

.actionButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.spacer {
  width: 15px;
}

.tableSpacer {
  height: 50px;
}

.sectionTitle {
  font-weight: 600;
}

.section {
  padding: 20px 0px;
}

.formGroup {
    padding: 10px 0px;
}

.formLabel {
  font-weight: bold;
  font-size: 15px;
}
