.company {
  font-size: 13px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: #757575;
  padding: 0px 0px;
}

.feed {
  border-bottom: 1px solid #ebebeb;
  padding: 9px 0px;
}

.link {
  color: #00A7CF;
  font-size: 12px;
}

.link:hover {
  cursor: pointer;
}

.section {
  padding: 10px 0px;
}

.articleName {
  font-size: 14px;
  padding: 5px 0px;
}

.text {
  font-size: 14px;
  padding: 5px 0px;
}

.hyperlink {
  color: #00A7CF;
}
