.container {
  width: 100%;
  color: #4a90e2;
  font-size: 18px;
  border-bottom: 1px solid #D7DADA;
  height: 65px;
  background-color: white;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  height: 100%;
  padding: 30px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titleLink {
  text-decoration: none;
  color: #00A7CF;
  font-weight: bold;
  font-size: 30px;
}

.titleLink:hover, .titleLink:focus, .titleLink:active {
  color: #00A7CF;
  text-decoration: none;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navContainer li {
  list-style-type: none;
  padding: 0 10px;
}

.link {
  color: #00303B;
  text-decoration: none;
}

.link:hover {
  color: #00303B;
}
