.container {
  width: 100%;
}

.innerContainer {
  margin: auto;
  padding: 5px;
}

.leftContainer {
  background-color: #white;
  border-right: 1px solid;
  composes: borderColor from 'sharedStyles/styles.css';
}
