.btnGreen {
  background-color: #22BBB3;
  color: white;
  border-color: #22BBB3;
}

.btnGreen:hover, .btnGreen:focus, .btnGreen:active {
  background-color: #00B0A9;
  color: white;
  border-color: #00B0A9;
}

.btnRed {
  background-color: #FC6D69;
  color: white;
  border-color: #FC6D69;
}

.btnRed:hover, .btnRed:focus, .btnRed:active {
  background-color: #DF4642;
  color: white;
  border-color: #DF4642;
}

.btnRedInverse {
  background-color: white;
  color: #FC6D69;
  border-color: #FC6D69;
}

.btnRedInverse:hover, .btnRedInverse:focus, .btnRedInverse:active {
  background-color: white;
  color: #DF4642;
  border-color: #DF4642;
}


.btnBlue {
  background-color: #00A7CF;
  color: white;
  border-color: #00A7CF;
}

.btnBlue:hover, .btnBlue:focus, .btnBlue:active {
  background-color: #007995;
  color: white;
  border-color: #007995;
}

.btnLightGray {
  background-color: white;
  color: #6E7777;
  border-color: #D7DADA;
}

.btnLightGray:hover, .btnLightGray:focus, .btnLightGray:active {
  background-color: white;
  color: #6E7777;
  border-color: #D7DADA;
}

.btnGray {
  background-color: #FBFBFB;
  color: #6E7777;
  border-color: #D7DADA;
}

.btnGray:hover, .btnGray:focus, .btnGray:active {
  background-color: #CBCBCB;
  color: #6E7777;
  border-color: #D7DADA;
}

.btnGrayInverse {
  background-color: #6E7777;
  color: #fff;
  border-color: #6E7777;
}

.btnGrayInverse:hover, .btnGrayInverse:focus, .btnGrayInverse:active {
  background-color: #556262;
  color: #fff;
  border-color: #556262;
}
