html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  color: #1d2129;
  font-size: 15px;
  background-color: white;
  letter-spacing: 0.7px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #464646;
  text-decoration: none;
}

a:hover {
  color: #464646;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.borderColor {
  border-color: #D7DADA;
}

.pointer {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 15px 0px;
}

.selectField {
  font-size: 14px;
  color: #555;
}

.spacer {
  width: 20px;
}

.messageBar {
  margin-bottom: 10px;
}

.spacedRow {
  padding: 2px 0px;
}

.blockBtn {
  width: 100%;
  height: 37px;
  margin: 2px 0px;
}

.buttonSection {
  position: fixed;
  bottom: 0;
  width: 95%;
  border-top: 1px solid #D7DADA;
  padding-top: 5px;
  background-color: white;
}

.centerPage {
  width: 100px;
	height: 70px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

/* Overriding styling from modules */
:global .ms-fontSize-l {
  font-size: 16px !important;
}

:global .ms-Label {
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px !important;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  color: #333333;
  box-sizing: border-box;
  display: block;
  padding: 5px 0;
}

:global .ms-TextField {
  margin-bottom: 5px !important;
}

:global .Select-control {
  border-radius: 0px !important;
  border: 1px solid #c8c8c8 !important;
}

:global .Select-menu-outer {
  z-index: 10000 !important;
}

:global .Select-value-label {
  color: #555 !important;
}

:global .react-grid-Container {
  width: 100% !important;
}

:global .react-grid-Main {
  font-size: 15px;
  outline: none !important;
}

:global .react-grid-HeaderCell {
  /*border-right: none !important;*/
  /*text-align: right;*/
}

:global .react-grid-Cell {
  /*border: none !important;*/
  /*text-align: right;*/
}

:global .react-bs-container-body {
  background-color: white;
  font-weight: normal;
}

:global .react-bs-container-header {
  background-color: #FBFBFB;
}

:global .react-bs-table-container {
  font-size: 15px;
}

:global .ReactModal__Overlay--after-open {
  overflow: scroll !important;
}

:global .btn {
  padding: 8px 20px;
  letter-spacing: 1px;
  border-radius: 3px;
}

:global .btn-lg {
  padding: 10px 25px;
  letter-spacing: 1.8px;
  font-size: 16px;
}

:global .help-block {
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 0px;
}
