.container {
  padding: 20px 40px;
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.slogan {
  composes: subHeader from 'sharedStyles/styles.css';
}

.numberList {
  margin: 10px;
}

.paragraph {
  padding: 10px 0px;
}
