.container {
  padding: 15px 10px;
  border-bottom: 1px solid #D7DADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.container:hover {
  cursor: pointer;
}

.title {

}
