.title {
  font-weight: 600;
  padding: 10px 0px;
}

.subtitle {
  padding-top: 15px;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.formLabel {
  font-weight: normal;
}

.tableHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 0px;
}

.equation {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
}

.formula {
  color: #6E7777;
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
}

.center {
  text-align: center;
}

.note {
  font-style: italic;
  font-size: 12px;
}
