.dialogText {
  padding: 10px 0px;
}

.header {
  padding-bottom: 5px;
}

.link {
  font-size: 13px;
  color: #00A7CF;
}

.link:hover {
  cursor: pointer;
}

.section {
  padding: 10px 0px;
}

.subline {
  color: #676767;
  font-size: 14px;
}
