.container {
  padding: 40px;
}

.title {
  text-align: center;
  font-weight: 600;
}

.formLabel {
  font-size: 16px;
  font-weight: normal;
}

.formHeader {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
}
