.section {
  padding: 10px 0px;
}

.add {
  color: #0078d7;
}

.add:hover {
  cursor: pointer;
}

.borderedSection {
  border-top: 1px solid #D7DADA;
  padding: 10px 0px;
}

.mainView {
  padding-bottom: 47px;
}

.preferenceType {
  font-size: 12px;
  padding-right: 10px;
  color: #676767;
}

.subline {
  color: #676767;
  font-size: 14px;
}

.icon {
  color: #676767;
}

.info {
  font-size: 11px;
  color: #676767;
  font-weight: bold;
}

.inline {
  padding-right: 10px;
  font-size: 14px;
}

.link {
  font-size: 14px;
}

.tasks {
  font-size: 15px;
}

.view {
  text-align: center;
}

.view:hover {
  cursor: pointer;
}
